name: graphql Dart Code sanity check

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - name: Install dependencies
        run: |
          dart pub get
      - name: Code formatting check
        run: |
          dart format --set-exit-if-changed .
      - name: Code analyze check
        run: |
          dart analyze lib
          dart analyze test
      # - name: Build Package
      #  run: |
      #    dart run build_runner build
